@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  .text-shadow-red {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8), 2px 2px 4px rgba(0, 0, 0, 1);
  }
  .text-shadow-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}
